.header {
	background-color: antiquewhite;
	display: flex;
	align-items: baseline;
	padding: .5rem;
	gap: 1rem;
}
.link {
	background: none;
	border: none;
	text-decoration: none;
	color: #777;
	font-family: inherit;
	font-size: inherit;
	cursor: pointer;
	padding:0;
}
.dropdown.active > .link,
.link:hover {
	color: black;
}
.dropdown {
	position: relative;
}
.dropdown-menu {
	position: absolute;
	left: 0;
	top: calc(100% + .25rem);
	background-color: white;
	padding: .75rem;
	border-radius: .25rem;
	box-shadow: 0 2px 5px 0 rgba(0,0,0, .1);
	opacity: 0;
	pointer-events: none;
	transform: translateY(-10px);
	transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown.active > .link + .dropdown-menu {
	opacity: 1;
	transform: translateY(0);
	pointer-events: auto;
}

.information-grid {
	display: grid;
	grid-template-columns: repeat(2, max-content);
	gap: 2rem;
}
.dropdown-links {
	display: flex;
	flex-direction: column;
	gap: .25rem;
}
.hamburger {
	display: none;
}





				
<!--SLIDESHOW AND THUMBNAILS-->
/* * {
box-sizing: border-box;
} */

#photos {
vertical-align: middle;

}

/* .container {
position: relative;
padding: 1%;
} */

.mySlides {
display: none;
}

.cursor {
cursor: pointer;
}

.prev,
.next {
cursor: pointer;
position: absolute;
top: 100%;
padding: 30px;
margin-top: -50px;
/* color: #031035; */
font-weight: bold;
font-size: 20px;
border-radius: 0 3px 3px 0;
user-select: none;
-webkit-user-select: none;
}

.next {
right: 0;
border-radius: 3px 0 0 3px;
}

/* .prev:hover,
.next:hover {
color: #031035;
} */

.numbertext {
color: #293F82;
font-size: 12px;
padding: 28px 12px;
position: absolute;
top: 0;
}



.row:after {
display: -ms-flexbox; 
display: flex;
-ms-flex-wrap: wrap; 
flex-wrap: wrap;
padding: 0 4px;
}
/* 
.column {
float: right;
width: 16.66%;
padding-right: 3%;
padding-bottom: 2%;
-ms-flex: 25%; 
flex: 25%;

} */
.demo {
opacity: 0.6;
}

.active,
.demo:hover {
opacity: 1;
}


#photos {
vertical-align: middle;
padding:1px;
border:1px solid #75593E;
background-color:#C4AA91;
}


#content-wrapper{
	display:  flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.leftcolumn {
	width: 50%;
	padding-left: 10px;
	margin-top: -60%;
	padding-right: 10%;
}
.rightcolumn {
	width: 38%;
	
}

img {
  vertical-align: middle;
}

/* .container {
  position: relative;
  max-width: 80%;
} */

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 100%;
  width: 60vw;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* .prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
} */

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.caption-container {
  text-align: center;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 16.66%;
  padding: 1%;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

/* #content-wrapper {
	padding-right: 10%;
	display:  flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	max-width: 98%;
	padding-left: 3%;
	padding-right: 5%;
	padding-top: 2%;
} */

.text-center a{
	color: #C4AA91;
}  