body {
	margin: 0;
	/* background: #64461E; */
	background-image: url("/images/background/lighter\ leather.jpg");
}
#topnav {
	margin: 0;
	padding: 0;
	width: 100%;
	padding-top: 1%;
	padding-left: 2%;
	padding-right: 2%;
	margin: 0 auto;
	color: #f2f2f2;
}
.col-left {
	width: 50%;
	float: left;
	height: 8vh;
	padding-top: .5vh;
	padding-bottom: .5vh;
}
.col-right {
	width: 50%;
	/* margin-left: 0%; */
	 float: right;
	height: 8vh;
	padding-top: .5vh;
	padding-bottom: .5vh;
	color: #f2f2f2;
	a {
		font-size: 2.5em;
		color: #f2f2f2;
	}
	a:active {
		color: #f2f2f2; 
	} 
}
.header {
	background-color: antiquewhite;
	display: flex;
	align-items: baseline;
	padding: .5rem;
	gap: 1rem;
}
.link {
	background: none;
	border: none;
	text-decoration: none;
	color: #777;
	font-family: inherit;
	font-size: inherit;
	cursor: pointer;
	padding:0;
}
.dropdown.active > .link,
.link:hover {
	color: black;
}
.dropdown {
	position: relative;
}
.dropdown-menu {
	position: absolute;
	left: 0;
	top: calc(100% + .25rem);
	background-color: white;
	padding: .75rem;
	border-radius: .25rem;
	box-shadow: 0 2px 5px 0 rgba(0,0,0, .1);
	opacity: 0;
	pointer-events: none;
	transform: translateY(-10px);
	transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown.active > .link + .dropdown-menu {
	opacity: 1;
	transform: translateY(0);
	pointer-events: auto;
}

.information-grid {
	display: grid;
	grid-template-columns: repeat(2, max-content);
	gap: 2rem;
}
.dropdown-links {
	display: flex;
	flex-direction: column;
	gap: .25rem;
}
.hamburger {
	display: none;
}





/* 
 BODY BODY BODY BODY BODY BODY BODY BODY BODY BODY  BODY BODY BODY BODY BODY BODY BODY BODY BODY BODY */




*::before, *::after {
	box-sizing: border-box;
}

body {
	margin: 0;
}
.carousel {
	width: 100vw;
	height: 100vh;
	position: relative;
}
.carousel > ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.slide {
	position: absolute;
	inset: 0;
	opacity: 0;;
	transition: 200ms opacity ease-in-out;
	transition-delay: 200ms;
}
.slide > img {
	display: block;
	width: 40%;
	/* height: 100%; */
	object-fit: cover;
	object-position: center;
}

.slide[data-active] {
	opacity: 1;
	/* z-index: 1; */
	transition-delay: 0ms;
}
.carousel-button {
	position: absolute;
	z-index: 2;
	background: none;
	border: none;
	font-size: 4rem;
	top: 50%;
	transform: translateY(-50%);
	color: rgba(255, 255, 255, .5);
	cursor: pointer;
	border-radius: .25rem;
	padding: 0 .5rem;
	background-color: rgba(0, 0, 0, .1);
}
.carousel-button:hover,
.carousel-button:focus {
	color: white;
	background-color: rgba(0,0,0, .2);
}

.carousel-button:focus {
	outline: 1px solid black;
}
.carousel-button.prev {
	left: 1rem;
}
.carousel-button.next {
	right: 1rem;
}