body {
    margin: 0;
    font-family: Arial;
    background-image: url(Images/Pages%20Background/cream%20paper%20background.jpg);
    background-repeat: repeat;
    }
    * {
      margin: 0;
      padding: 0;
      list-style: none;
      text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
      box-sizing: border-box;
    }
    body {
      background: #fefefe;
    }
    header {
      width: 100%;
      height: 80px;
      background-color: black;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 100px;
    }
    .logo {
      font-size: 20px;
      font-weight: bold;
      color: #11101b;
    }
    .logo2 {
      font-size: 13px;
      font-weight: bold;
      color: #fefefe;
    }
    .hamburger {
      display: none;
    
    }
    .nav-bar ul {
      display: flex;
    }
    .nav-bar ul li a {
      display: block;
      color: #f4f4f4;
      font-size: 13px;
      padding: 10px 25px;
      border-radius: 50px;
      transition: 0.2s;
      margin: 0 5px;
    }
    .nav-bar ul li a:hover {
      color: #11101b;
      background: #fefefe;
    }
    .nav-bar ul li a.active {
      color: #11101b;
      background: #fefefe;
    }
    
    @media only screen and (max-width:1320px) {
      header {
        padding: 0 50px;
      }
      
    }
    @media only screen and (max-width:1100px) {
      header {
        padding: 0 30px;
      }
      
    }
    @media only screen and (max-width:900px) {
      .hamburger {
        display: block;
        cursor: pointer;
      }
      .hamburger .line {
        width: 30px;
        height: 3px;
        background: #fefefe;
        margin: 6px 0;
      }
      .nav-bar{
        position: absolute;
        height: 0px;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #11101b;
        transition: 0.5s;
        overflow: hidden;
      }
      .nav-bar.active {
        height: 450px;
      }
      .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
      }
      .nav-bar.active ul {
        opacity: 1;
      }
      .nav-bar ul li a{
        margin-bottom: 12px;
        
    
      }
    }
   
    



        h1 {
            color: #C4AA92;
        }
        
        #h3nav {
            color: #75593E;
            font-size: 12px;
        }
        #footer {
            background-color: #c4aa91;
            width: 100%;
        }
        #logofooter {
            -webkit-filter: drop-shadow(2px 2px 2px #222);
            filter: drop-shadow(2px 2px 2px #222);
            opacity: .4;
        }
        #content {
            min-height: 350px;
            margin-left: 20px;
            margin-right: 20px;
            
        }
      
         /* IMAGES 		 */
    
            .imagesportcontainer {
                display:flex;
                flex-wrap: wrap;
                justify-content: center;
            }
    
                #photosport {
                    width: 270px;
                    margin: 5px;
                    transition: all 1s;
                }
    
                #photosport:hover {
                    transform: scale(1.1);
                    }
                    /*American Cowboy Portfolio*/
                        h2cowboy {
            color: #FFFFF9;
        }
            
        @media all and (max-width: 736px) {
                #h2porttitle { font-size: 1em;
                width: 100%;
                color: rgb(73,47,36); 
                border-bottom:  3px solid #c4aa91;
                border-right: 3px solid #c4aa91;
                text-align: center;
                box-shadow: 3px 4px 5px 3px #888888
                }
        }	
        @media (min-width: 737px) and (max-width: 1900px){
            #h2porttitle {
                font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
                font-size: 2em;
                color: rgb(73,47,36); 
                border-bottom:  3px solid #c4aa91;
                border-right: 3px solid #c4aa91;
                width: 100%;
                text-align: center;
                box-shadow: 3px 4px 5px 3px #888888
                }
        }
        @media all and (min-width: 1901px) {
                #h2porttitle { font-size: 4em;
                width: 100%;
                color: rgb(73,47,36); 
                border-bottom:  3px solid #c4aa91;
                border-right: 3px solid #c4aa91;
                text-align: center;
                box-shadow: 3px 4px 5px 3px #888888
        }
        }
        .photos {
                    width: 15%;
                    margin: 5px;
                    transition: all 1s;
                }
    
                .photos:hover {
                    transform: scale(1.1);
                    }
        #photos {
        vertical-align: middle;
           padding:1px;
           border:1px solid #75593E;
           background-color:#C4AA91;
    }
    .row:after {
        display: -ms-flexbox; /* IE10 */
        display: flex;
        -ms-flex-wrap: wrap; /* IE10 */
        flex-wrap: wrap;
        padding: 0 4px;
        }
    /* Six columns side by side */
    .column {
      float: right;
      width: 16.66%;
      padding-right: 3%;
      padding-bottom: 2%;
    
    
        -ms-flex: 25%; /* IE10 */
        flex: 25%;
    
        }