body {
	background-image: url("/images/background/lighter\ leather.jpg");
}

#topnav{
		margin-left: 2%;
		margin-right: 3%;
}
.col-left {
	color: #75593E;
	float: left;
}
.col-right {
	color: bisque;
	float: right;
	margin-top: 2%;
}
.col-right > a{
	color: bisque;
	text-decoration: none;
	font-size: 2em;
}
.header {
	margin-top: 7%;
	background-color: #75593E;
	display: flex;
	align-items:center;

	padding: .5rem;
	gap: 2rem;
	z-index: 10000;


}

.link {
	background: none;
	border: none;
	text-decoration: none;
	color: #fffff9;
	font-family: inherit;
	font-size: 1.5rem;
	cursor: pointer;
	padding:0;
}
.dropdown.active > .link,
.link:hover {
	background-color: #fffff9;
	color: #c4aa92;
}
.dropdown {
	position: relative;
}
.dropdown-menu {
	position: absolute;
	left: 0;
	top: calc(100% + .25rem);
	background-color: #c4aa92;
	padding: .75rem;
	border-radius: .25rem;
	box-shadow: 0 2px 5px 0 rgba(0,0,0, .1);
	opacity: 0;
	pointer-events: none;
	transform: translateY(-10px);
	transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
	font-size: 1.5rem;
}

.dropdown.active > .link + .dropdown-menu {
	opacity: 1;
	transform: translateY(0);
	pointer-events: auto;
}

.information-grid {
	display: grid;
	grid-template-columns: repeat(2, max-content);
	gap: 2rem;
}
.dropdown-links {
	display: flex;
	flex-direction: column;
	gap: .25rem;
}
.dropdown-heading {
	color:#75593E
}


@media  (max-width: 2880px) {
    .header {
        margin-top: 6%;
    }
}
@media  (max-width: 1849px) {
    .header {
        margin-top: 10%;
    }
}
@media  (max-width: 1114px) {
    .header {
        margin-top: 15%;
    }
}
@media  (max-width: 940px) {
    .link {
        font-size: 1.5rem;       
    }
    header {
    gap: 1rem;
    }
}
@media  (max-width: 788px) {
    .col-right {
        float: left;
        padding-bottom: 1%;
    }
    .header {
        margin-top: 26%;
    }
    .logo {
        visibility:hidden;
    }
    .link {
        margin-right: 3%;
    }
}
    @media  (max-width: 768px) {
        .header {
            gap: 1rem;
            margin-right: 80px;
        }
        .logo {
            visibility:hidden;
        }
    }
     @media  (max-width: 653px) {
        .col-right {
            padding-bottom: 1%;
        }
        .header {
            margin-top: 30%;
            width: 100%;
        }
        .logo {
            visibility:hidden;
        }
        .link {
            display: flex;
            gap: -5rem;
            font-size: 12px;
        }
        .prev,
            .next {
            font-size: 5px;
            border: none;
            background-color: none;
            }
        }
@media  (max-width: 400px) {
    .col-right {
        float: left;
        padding-bottom: 1%;
    }
    .header {
        margin-top: 66%;
    }
    .logo {
        visibility:hidden;
    }
    .link {
        display: flex;
        gap: -5rem;
        font-size: 12px;
    }

    }
    @media  (max-width: 390px) {
        .col-right {
            float: left;
            padding-bottom: 1%;
        }
        .header {
            margin-top: 66%;
            gap: 1rem;
        }
        .logo {
            visibility:hidden;
        }
        .link {
            display: flex;
            gap: -5rem;
            font-size: 12px;
        }
    
        }







/* Hamburger Controls Hamburger Controls  Hamburger Controls   Hamburger Controls Hamburger Controls  */








.side-nav  {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: #c4aa92;
	opacity: 0.9;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.5s;
}
.side-nav a{
	padding: 10px 10px 10px 30px;
	text-decoration: none;
	font-size: 22px;
	display: block;
	transition: 0.3s;

}
.side-nav .btn-close {
	position: absolute;
	top: 0;
	right: 22px;
	font-size: 36px;
	margin-left: 50px;
	color: #75593E;
}
@media(max-width:668px){
	.header > .dropdown {display: none;}
	.dr-link{display: none;}

}

@media(min-width:668px){
	.open-slide {display: none;}
} 